.MuiOutlinedInput-input{
    padding:10px 4px !important;
    width: 300px !important;
    color: rgb(223, 223, 223) !important;
    margin-left: 10px !important;
}

.MuiInputLabel-shrink{
    color: rgb(223, 223, 223) !important;
}

.MuiOutlinedInput-notchedOutline{
    border: 1px solid white !important;
}